<% content_for :user_info do %>
    <div class="user-page clearfix">
        <div class="user-avatar">
            <img src="../assets/avatar.jpg" alt=" ">
        </div>
        <div class="info">
            <div class="user-info">
                <h2><%= current_user.name %> <%= current_user.surname %> </h2>
                <hr/>
                <h3><%= current_user.email %></h3>
            </div>
        </div>
    </div>
<% end %>


<h1>Все пользователи: </h1>

<%= will_paginate %>

<ul class="users">
    <% @users.each do |user| %>
    <li><%= link_to user.email, user %></li>
    <% end %>
    
</ul>
<%= will_paginate %>
