
<% content_for :user_info do %>
        <div class="user-page clearfix">
                <div class="user-avatar">
                        <%= image_tag(@user.avatar_url) if @user.avatar?%> 
                </div>

                <% if current_user == @user.id %>
                    <%= form_for @user, html: {multipart: true}, method: :patch do |f| %>
                    <div class="upload_field">
                    <% unless @user.avatar? %>
                        <%= f.file_field :avatar %>
                        <br />
                        <%= f.submit "Save"%>
                        <% end %>
                    </div>
                    <% end %>
                <% end %>
            
            <div class="info">
                <div class="user-info">
                    <h2><%= @user.name %> <%= @user.surname %> </h2>
                    <hr/>
                    <h3><%= @user.email %></h3>
                </div>
            </div>
        </div>    
<% end %>

            <img src="../assets/project-1.jpg" alt=" ">
            <% @posts.each do |post| %>
            <div>
                <span class="st-post-date"><%= post.created_at.strftime("%B %d, %Y") %></span>
                <h2><%= link_to post_path(post) do %>
                    <%= post.title %>
                    <% end %>            
                </h2>
                <p><%= post.summary %></p>
            </div>
            <% end %>
            </div>
