<% if current_user %>
    <div class="container-fluid">        
        <div class="row">
                    <aside class="col-lg-4">
                        <section>
                           <%= current_user.name %>
                           <%= current_user.surname %>
                        </section>        
                    </aside>
                <div class="col-lg-4">
                    <div class="container">
                        <%= render 'posts/post_form' %>
                    </div>
                    <div class="container">
                        <%= render 'posts/post' %>
                    </div>
                </div>
        </div>  
    </div>      
<% else %>
<% end %>
</div>
<h1><%= @user.email %></h1>
<%= render 'friends_form'%>
<div class="span8">
</div>