
<% content_for :user_info do %>
        <div class="user-page clearfix">
            <div class="user-avatar">
                <img src="../assets/avatar.jpg" alt=" ">
            </div>
            <div class="info">
                <div class="user-info">
                    <h2><%= current_user.name %> <%= current_user.surname %> </h2>
                    <hr/>
                    <h3><%= current_user.email %></h3>
                </div>
            </div>
        </div>    
<% end %>
            
            <img src="../assets/project-1.jpg" alt=" ">
            <% @posts.each do |post| %>
            <div>
                <span class="st-post-date"><%= post.created_at.strftime("%B %d, %Y") %></span>
                <h2><%= link_to post_path(post) do %>
                    <%= post.title %>
                    <% end %>            
                </h2>
                <p><%= post.summary %></p>
            </div>
            <% end %>
            </div>
