<% if current_user %>
    <div class="container-fluid">        
        <div class="row">
                    <aside class="col-lg-4">
                        <section>
                           <%= current_user.name %>
                           <%= current_user.surname %>
                        </section>        
                    </aside>
                <div class="col-lg-4">
                    <div class="container">
                        <%= render 'posts/post_form' %>
                    </div>
                    <div class="container">
                        <%= render 'posts/post' %>
                    </div>
                </div>
        </div>  
    </div>      
<% else %>
    <div class="jumbotron">
        <div class="container">
            <h1>Приветствуем!</h1>
            <p>Зарегестрируйся чтобы начать.</p>
            <p>
                <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
                Зарегестрироваться &raquo;
                <% end %>
            </p>
        </div>
    </div>
<% end %>
</div>