<% if @feed.any? %>
    <h3>Post (<%= @feed.count %>)</h3>
    
        <% @feed.each do |i| %>
            <div class="container posts" >
                <span class="content"><%= i.post %></span>
                <span class="timestamp">
                    Опубликовано <%= time_ago_in_words(i.created_at) %>
                </span>
                <p> 
                    <% if current_user.likes.find_by_post_id(i.id) %>
                        <%= link_to "Unlike", likes_path(:id => current_user.likes.find_by_post_id(i.id).id), method: :delete %>
                        <%= ".....#{i.likes.count} " %>
                    <% else %>
                    <%= link_to "Like?", likes_path(:post_id => i.id), method: :post, class: "btn btn-primary" %>
                    <%= ".....#{i.likes.count} " %>
                    <% end %>
            </div>
        <% end %>
    
<% end %>