<div id="page">
    <div id="st-aside" style="background-image: url('../assets/image_1.jpg')">
        <div class="overlay">
            <nav class="logo" role="navigation">
                <ul>
                    <li><%= link_to current_user do %>
                    <i class="fas fa-home"></i>
                    <% end %>
                    </li>
                </ul>
            </nav>
            <%= yield :user_info %>
            <nav class="menu" role="menu">
                <ul>
                    <li><%= link_to  "Edit profile", edit_user_path(current_user) %></li>
                    <li><%= link_to  "All users", users_path %></li>
                    <li><%= link_to  "Friends", friend_path %></li>
                    <li><%= link_to  "Notification", "#" %></li>
                    <li><%= link_to  "Exit", sign_out_path, method: :delete %></li>
                </ul>
            </nav>
            <div class="buttons-container">
                <div class="st-buttons">
                    <div>
                        <span><%= link_to  "My posts", posts_path %></span>
                    </div>
                    <div>
                        <span><%= link_to  "Create post", new_post_path %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="st-main-content">
        <div class="st-post">
            <div class="st-entry padding">
                <%= yield %>
            </div>
        </div>
    
        <div class="gototop js-top">
            <a href="#" class="js-top"><i class="icon-arrow-up"></i></a>
        </div>
    </div>