<!DOCTYPE html>
<html>
  <head>
    <title>Facepalm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="single">
<div id="page">
    <div id="st-aside" style="background-image: url('../assets/image_2.jpg')" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <nav class="logo" role="navigation">
            <ul>
                <li><%= link_to current_user do %>
                    <i class="icon-image"></i>
                <% end %>
                </li>
            </ul>
        </nav>
        
        <%= yield :title %>

    </div>
    <div id="st-main-content">
        <div class="st-post">
            <div class="st-entry padding">
                <div>
                      
                    <%= yield :post %>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="st-navigation">
    <div class="st-cover prev st-cover-sm">
        <div class="overlay"></div>
        <a href="#" class="copy">
            <div class="display-t">
                <div class="display-tc">
                    <div>
                        <span>Previous Post</span>
                        <h2>How to be an affective web developer</h2>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="st-cover next st-cover-sm">
        <div class="overlay"></div>
            <a href="#" class="copy">
                <div class="display-t">
                    <div class="display-tc">
                        <div>
                            <span>Next post</span>
                            <h2>How to be an affective web developer</h2>
                        </div>
                    </div>
                </div>
            </a>
    </div>
</div>
</body>
</html>